mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: 1em 6em;
}

mat-icon {
  position: absolute;
  padding: 3px;
  font-size: medium;
}
