

<mat-card>
  <mat-card-content class="fields-container">
    <form #f="ngForm">
      <h2>{{ !isLogin ? "Sign Up" : "Login" }}</h2>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          ngModel
          name="email"
          type="email"
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}"
          required
          #emailCtrl="ngModel"
          required
        />
        <mat-error *ngIf="!emailCtrl.valid && emailCtrl.touched && emailCtrl.dirty">
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          ngModel
          name="password"
          minlength="6"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
          required
          #passCtrl="ngModel"
          matInput [type]="hide ? 'password' : 'text'"
        />
        <mat-icon (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="!passCtrl.valid && passCtrl.touched">
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!f.valid"
        (click)="onSubmit(f); f.resetForm()"
      >
        {{ isLogin ? "Login" : "Sign Up" }}
      </button>
      <button
      mat-button
      color="primary"
      (click)="onSwitchAuthMode(f);  f.resetForm()"
      >
        Switch to {{ isLogin ? "Sign Up" : "Login" }}
      </button>

    </form>

  </mat-card-content>
</mat-card>
