<div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card class="create">
        <mat-card-content>
          <h2>Create a new Project</h2>

          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Project Name"
              formControlName="projectName"
              required
            />
          </mat-form-field>

          <button mat-raised-button color="primary" click="add">Create Project</button>
        </mat-card-content>
      </mat-card>
    </form>
  <div class="row" *ngIf="loadedProjects">
    <div class="col-sm-6 col-md-4" *ngFor="let project of loadedProjects">
      <mat-card >
        <mat-card-title>Project {{project.projectTitle}}
          <mat-icon (click)="editProject(project.id)">edit</mat-icon> <mat-icon (click)="deteleProject(project.id)">delete</mat-icon>
        </mat-card-title>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <h3>To Do</h3>
          <ul  *ngIf="project.tasksTodo">
            <li *ngFor="let todo of project.tasksTodo">
              <task projectId={{project.id}} title={{todo.taskTitle}} id={{todo.id}}></task>
            </li>
          </ul>
          <h3>Done</h3>
          <ul *ngIf="project.tasksDone">
            <li *ngFor="let done of project.tasksDone">
              <task projectId={{project.id}} title={{done.taskTitle}} id={{done.id}}></task>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openDialog()">Create Task</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</div>
