mat-card.create {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  text-align: center;

}

mat-icon{
  cursor: pointer;
  font-size: 15px;
  text-align: right;
}
mat-grid-tile {
  background: lightblue;
}
